<?php

/**
 * Copyright 2021, 2024 5 Mode
 *
 * This file is part of Homomm.
 *
 * Homomm is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Homomm is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.  
 * 
 * You should have received a copy of the GNU General Public License
 * along with Homomm. If not, see <https://www.gnu.org/licenses/>.
 *
 * config.inc
 * 
 * Homomm configuration settings.
 *
 * @author Daniele Bonini <my25mb@aol.com>
 * @copyrights (c) 2021, 2024, 5 Mode     
 */

define('DEBUG', true);
 
define('APP_NAME', "Homomm");

define('APP_SPLASH', true);

define('APP_PATH', "/var/www/YourWebApp/Public/static");
define('APP_SCRIPT_PATH', "/var/www/YourWebApp/Private/scripts");
define('APP_ERROR_PATH', "/var/www/YourWebApp/Private/error");
define('APP_SALT', "yoursalt");
define('APP_REPO_PATH', "/var/www/YourWebApp/Private/Repo");
define('APP_PIC_PATH', "/var/www/YourWebApp/Public/static/hmm-img");
define('APP_SERVER_TIMEZONE', "+2");

define('CMDLINE_VALIDCMDS', "~|sendmsg|refreshbrd|delmsg|delpic|");

define('HISTORY_MAX_ITEMS', 50);

// SMS by using your Twilio account
define('SMS_API_URL', "");
// Set here your Account SID
define('SMS_USERNAME', "");
// Set here your Auth Token
define('SMS_PASSWORD', "");
// Set here the Message Service to send message from.. 
define('SMS_MESSAGING_SERVICE', "");
// Set here the Message body
define('SMS_BODY', "You have a new message on http://homomm.org");


$CONFIG = [

   'DEBUG' => true,

   'APP' => [
      'NAME' => "Homomm",
      'SPLASH' => true,
      'PATH' => "/var/www/YourWebApp/Public/static",
      'SCRIPT_PATH' => "/var/www/YourWebApp/Private/scripts",
      'ERROR_PATH' => "/var/www/YourWebApp/Private/error",
      'SALT' => "yoursalt",
      'REPO_PATH' => "/var/www/YourWebApp/Private/Repo",
      'PIC_PATH' => "/var/www/YourWebApp/Public/static/hmm-img",
      'SERVER_TIMEZONE' => "+2"
      ],
     
   'AUTH' =>  [
     'MASTER' => [
         'USERNAME' => "John",
         'PHONE' => "+160612345567",
         'REPO_FOLDER' => "master",
         'PIC_FOLDER' => "master",
          // password: yourpassword
          // salt: yoursalt
         'HASH' => "",
         'TIMEZONE' => "+2"
      ],
    'FRIEND_0' => [
         'USERNAME' => "John",
         'PHONE' => "+16061234567",
         'REPO_FOLDER' => "user",
         'PIC_FOLDER' => "user",
          // password: yourpassword
          // salt: yoursalt
         'HASH' => "",
         'TIMEZONE' => "+2"
      ],
    'FRIEND_1' => [
         'USERNAME' => "Nickname",
         'PHONE' => "+16061234567",
         'REPO_FOLDER' => "user",
         'PIC_FOLDER' => "user",
          // password: yourpassword
          // salt: yoursalt
         'HASH' => "",
         'TIMEZONE' => "+2"
      ],
    'FRIEND_2' => [
         'USERNAME' => "Nickname",
         'PHONE' => "+16061234567",
         'REPO_FOLDER' => "user",
         'PIC_FOLDER' => "user",
          // password: yourpassword
          // salt: yoursalt
         'HASH' => "",
         'TIMEZONE' => "+2"
      ],
   ],  
   
  'CMDLINE' => [
     'VALIDCMDS' => "~|sendmsg|refreshbrd|delmsg|delpic|"  
    ],

  'HISTORY' => [
     'MAX_ITEMS' => 50
    ],
  
  'SMS' => [
     'API_URL' => "",
     'USERNAME' => "",
     'PASSWORD' => "",
     'MESSAGING_SERVICE' => "",
     'BODY' => "You have a new message on http://homomm.org"
    ]    
    
 ];  


$LOCALE = [
    'Monday' => "",
    'Tuesday' => "",
    'Wednesday' => "",
    'Thursday' => "",
    'Friday' => "",
    'Saturday' => "",
    'Sunday' => "",
    'January' => "",
    'February' => "",
    'March' => "",
    'April' => "",
    'May' => "",
    'June' => "",
    'July' => "",
    'August' => "",
    'September' => "",
    'October' => "",
    'November' => "",
    'December' => "",
 ];
 
  
$EMOTICONS = [
    '[:-)]' => "&#128578;",
    '[:-p]' => "&#129297;",
    '[:c)]' => "&#128512;",
    '[;-)]' => "&#128521;",
    '[:-J]' => "&#128527;",
    '[;-P]' => "&#128540;",
    '[:-/]' => "&#128533;",
    "[:'-)]" => "&#128531;",
    '[B-)]' => "&#128526;",
    '[=]]' => '&#128515;',
    '[=)]' => "&#128516;",
    '[*-)]' => "&#128525;"
 ];
